---
const Links = [
	{
		path: '/',
		label: 'INDEX'
	},
	{
		path: '/about',
		label: 'ABOUT'
	},
	{
		path: '/now',
		label: 'NOW'
	}
	// {
	// 	path: '/contact',
	// 	label: 'CONTACT'
	// },
	// { path: '/projects', label: 'Projects' },

	// {
	// 	label: 'Design and development practice.'
	// }
]
---

<header class="w-full max-w-[calc(100vw-1rem)] gap-2 md:max-w-[20vw]">
	<button
		id="togglez"
		class="btn hover:bg-dark hover:text-mauve hover:dark:bg-mauve hover:dark:text-dark"
	>
		<h1 class="">OXOMOTO</h1>
	</button>

	<nav
		id="navz"
		class="flex hidden w-auto max-w-full flex-col gap-2 bg-mauve pt-2 dark:bg-dark md:max-w-[20vw]"
	>
		{
			Links.length > 0
				? Links.map((l, i) => {
						if (l.path === undefined) {
							return (
								<p
									class="desc w-full border-t border-dashed border-gray-300 bg-mauve dark:bg-dark"
									style={`--order: ${i};`}
								>
									{l.label}{' '}
								</p>
							)
						}

						return (
							<a href={l.path} class="btn" style={`--order: ${i};`}>
								{l.label}
							</a>
						)
					})
				: null
		}
	</nav>
</header>

<script>
	const menu = document.getElementById('togglez')
	const navz = document.getElementById('navz')

	let show = false
	menu?.addEventListener('click', () => {
		show = !show
		menu.classList.toggle('show')

		if (!show) {
			navz?.classList.add('animate-out')
			setTimeout(() => {
				navz?.classList.add('hidden')
			}, navz?.children.length * 100)
		} else {
			navz?.classList.remove('hidden')
			navz?.classList.remove('animate-out')
		}
	})
</script>

<style>
	.btn {
		display: block;
		padding: 0.25rem 0 2rem 0.25rem;
		width: 20vw;
		text-align: left;
		border-top: 2px solid rgb(229, 229, 229);
		border-right: 2px solid rgb(46, 46, 46);
		border-bottom: 2px solid rgb(46, 46, 46);
		border-left: 2px solid rgb(229, 229, 229);
	}

	.btn:hover {
		border-top: 2px solid rgb(177, 177, 177);
		border-right: 2px solid rgb(33, 33, 33);
		border-bottom: 2px solid rgb(33, 33, 33);
		border-left: 2px solid rgb(177, 177, 177);
	}
	.btn:active {
		border-color: rgb(207, 207, 207);
	}
	#togglez.show {
		border-color: rgb(130, 130, 130) rgb(130, 130, 130) rgb(229, 229, 229) rgb(229, 229, 229);
	}
	.desc {
		padding-top: 2px;
		width: 20vw;
		max-width: 20vw;
	}
	#navz .btn {
		opacity: 0;
		animation: stagger ease-in 0.4s forwards 1;
		animation-delay: calc(var(--order) * 0.1s);
	}
	#navz.animate-out {
		animation: stagger-out ease-in 0.4s forwards 1;
		animation-delay: calc(var(--order) * 0.1s);
	}

	@keyframes stagger {
		from {
			opacity: 0;
			transform: translateY(80px);
		}

		to {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	@keyframes stagger-out {
		from {
			opacity: 1;
			transform: translateY(40px);
		}

		to {
			opacity: 0;
			transform: translateY(0px);
		}
	}

	@media (max-width: 768px) {
		.btn {
			width: 100%;
		}
		.desc {
			width: 100%;
			max-width: 100%;
		}
		#navz {
			position: absolute;
			width: calc(100vw - 1rem);
			height: calc(100vh - 70px);
			z-index: 100;
		}
	}
</style>
